body {
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.box {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    width: 100px;
    height: 150px;
    border-left: 10px dotted #D0D0FF;
    text-align: left;
    background-color: #eeeff2;
    color: black;
    margin-right: 10px;
    letter-spacing: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative; 
    padding-left: 10px;
    padding-top: 10px;
    
}


.box-special {
    position: fixed; 
    width: 100px;
    height: 150px;
    border-left: 10px dotted #D0D0FF;
    text-align: left; 
    background-color: #eeeff2;
    color: black;
    margin-right: 10px;
    letter-spacing: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    bottom: 10px;
    right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

    

.box:hover {
    background-color: yellow;
    color: goldenrod;
}

.box-special:hover {
    background-color: yellow;
    color: goldenrod;
}